@import '@publicplan/kern-react-kit/index.css';

html, body {
  min-height: 100vh;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/* app/globals.css */
.hero {
  background-image: url("/background.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
 }

 @media (max-width: 576px) {
   .hero {
     height: 100vh;
   }
 }

.kern-header-custom {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
.kern-footer-custom {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 16px 0;
  margin-top: 40px;
}

.kern-body-custom {
  margin-top: 80px; /* Adjust based on header height */
  background-color: transparent;
}
