@import '@publicplan/kern-react-kit/index.css';

/* app/globals.css */
.hero {
  background-image: url("/background.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}

.kern-header-custom {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 16px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
}
.kern-footer-custom {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 16px 0;
  margin-top: 40px;
}

.kern-body-custom {
  margin-top: 80px; /* Adjust based on header height */
  background-color: transparent;
}

.body {
  margin: 0 auto;
}