@import '@publicplan/kern-react-kit/index.css';

/* app/globals.css */
.hero {
  background-image: url("/background.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
 }

 @media (max-width: 576px) {
   .hero {
     height: 100vh;
   }
 }

.kern-header-custom {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 16px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
.kern-footer-custom {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 16px 0;
  margin-top: 40px;
}

.kern-body-custom {
  margin-top: 80px; /* Adjust based on header height */
  background-color: transparent;
}

.body {
  margin: 0 auto;
}

.typing {
  display: inline-block;
  overflow: hidden;
  border-right: 3px solid #8ec5fc; /* the cursor */
  white-space: nowrap;
  animation:
    typing 3.2s steps(40, end),
    blink 0.75s step-end infinite;
}

/* typing the text */
@keyframes typing {
  from { width: 0; }
  to   { width: 100%; }
}

/* blinking cursor */
@keyframes blink {
  50% { border-color: transparent; }
}
